
@import "tailwindcss";


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  color: #222;
}

h1, h2, h3 {
  margin-bottom: 0.5em;
}

img {
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}